.transparent_button {
  display: block;
  color: #feaf03;
  border: 2px solid #feaf03;
  background: transparent;
  font-size: 16px;
  font-family: 'GOTHAPROBOL';
  text-transform: uppercase;
  height: 50px;
  text-decoration: none !important;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  text-align: center;
  padding: 14px 0;
  width: 200px;
}
.transparent_button.btn_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.transparent_button.w_180 {
  width: 180px;
}
.transparent_button.mob_width {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.transparent_button:hover {
  background: #feaf03;
  color: #ffffff;
}
@media screen and (max-width: 991px) {
  .transparent_button {
    font-size: 22px;
    padding: 14px;
    height: 60px;
  }
  .transparent_button.w_180 {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 991px) {
  .contact-header > div > div {
    height: 275px;
  }
  .contact-header .contact-contact div {
    padding-left: 30px;
  }
  .contact-header .contact-contact div p {
    margin: 0;
  }
}
@media screen and (max-width: 991px) {
  #myCarousel .carousel-inner {
    height: 480px;
  }
  .main-catalog p:not(.caption-item-catalog) {
    padding-top: 0;
  }
  .main-catalog .transparent_button {
    margin-bottom: 40px;
  }
  .prewiew-block {
    padding: 50px 30px;
  }
  .prewiew-block p {
    font-size: 18px;
  }
  ul.oglavl li span.text,
  ul.oglavl li span.page {
    font-size: 16px;
  }
  .about p {
    font-size: 16px;
  }
  .item-bottom-2 .submit-row {
    text-align: right;
  }
  .order-form label {
    font-size: 18px;
  }
}
@media screen and (min-width: 500px) and (max-width: 991px) {
  .main-catalog > .row > div {
    padding: 0 5%;
  }
}
.mar_60 {
  margin: 50px auto;
}
.capt {
  text-transform: uppercase !important;
}
