body, html {
 height: 100%;
 color: #4a4a4a;
}
@font-face {
 font-family: GOTHAPROLIG;
 src: url(../font/gotham/GOTHAPROLIG.OTF);
}
@font-face {
 font-family: GOTHAPROMED;
 src: url(../font/gotham/GOTHAPROMED.OTF);
}
@font-face {
 font-family: GOTHAPROBOL;
 src: url(../font/gotham/GOTHAPROBOL.OTF);
}
@font-face {
 font-family: glyphicons-halflings-regular;
 src: url(../bootstrap/fonts/glyphicons-halflings-regular.svg);
}
@font-face {
 font-family: Muller-light;
 src: url(../font/Muller/Muller-light.otf);
}
@font-face {
 font-family: Muller-Bold;
 src: url(../font/Muller/Muller-bold.otf);
}
@font-face {
 font-family: Muller-Thin;
 src: url(../font/Muller/Muller-Thin.otf);
}
@font-face {
 font-family: Muller-Regular;
 src: url(../font/Muller/Muller-Regular.otf);
}
@font-face {
 font-family: Muller-UltraLight;
 src: url(../font/Muller/Muller-UltraLight.otf);
}
@font-face {
 font-family: Getvoipgrotesque;
 src: url(../font/Getvoipgrotesque.ttf);
}
p, h1, h2, h3, h4, h5, h6, span, a {
 text-shadow: 0 0 1px lightgray;
}
body {
 font-family: 'GOTHAPROLIG';
 padding: 0;
 color: #4a4a4a;
}
h1, h2 {
 text-transform: uppercase;
}
.container-fluid {
 margin: 0;
 padding: 0;
}
.container {
 margin: 0;
 padding: 0;
}
.row {
 padding: 0;
 margin: 0;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6:not(.col-md-offset-6), .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
 padding: 0;
}
h1 {
 letter-spacing: 0;
 font-size: 40px;
}
a:focus {
 outline: none;
 outline-offset: none;
}
nav
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
 background-color: transparent;
}
#tovarCartCarousel .item img {
 max-width: 70%;
 margin: 0 auto;
}
input, textarea {
 -webkit-appearance: none;
}
header {
 padding-top: 1.5%;
 margin-bottom: 2.5%}
header > div > div {
 display: flex;
 align-items: center;
}
header .header-row {
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100px;
}
header .logo h2 {
 line-height: 1.189;
 text-transform: uppercase;
 color: #a7d87b;
 font-weight: bolder!important;
 font-family: 'Getvoipgrotesque';
 font-size: 41px;
 margin-top: 30px;
}
header .logo {
 margin-left: 2.5%}
header .logo a {
 display: inline-block;
 padding-left: 5%;
 display: block;
}
header .contact a {
 font-size: 1.7rem;
 color: #000;
 line-height: 5px;
}
header .contact img {
 margin-right: 5%}
header .contact h2 {
 font-size: 22px;
 line-height: 3px;
 font-family: 'GOTHAPROMED';
 line-height: 1.364px;
}
header .contact small {
 font-size: 10px!important;
 line-height: 2px;
}
header .work-time img {
 margin-right: 7%}
header .work-time h5, .work-time span {
 line-height: 5px;
 font-size: 10px;
 text-transform: uppercase;
 line-height: 1.8px;
}
.content-catalog a {
 color: #4a4a4a;
}
.content-catalog a.transparent_button {
 color: #feaf03;
}
.content-catalog a.transparent_button:hover {
 color: #ffffff;
}
.content-catalog a:hover {
 text-decoration: none;
}
header .form-group {
 max-width: 60%;
 margin-right: 6%}
header .search-form div:nth-of-type(2) {
 margin-right: 7.5%;
 padding-top: 1.5%}
header .search-form div:last-of-type {
 margin-bottom: 3px;
}
header .form-group input {
 border-radius: 0;
 background: url(../img/Untitled-1.png) no-repeat 95% center;
}
header .contact small {
 color: #888;
}
.cart-sticker {
 position: relative;
}
.cart-sticker::after {
 content: '3';
 display: block;
 width: 16px;
 height: 16px;
 background: #feaf02;
 color: #fff;
 position: absolute;
 top: -5px;
 right: -10px;
 border-radius: 50%;
 text-align: center;
 font-size: 11px;
}
.form-group + div img, .form-group + div + div img {
 padding-bottom: 3px;
}
.header-mobile {
 margin-top: 1.5%;
 border-bottom: 1px solid #e9eaea;
 padding-bottom: 1.5%}
.cont {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 padding: 0 5%}
.toggle-menu {
 margin: 10px 0;
}
.toggle {
 width: 30px;
 height: 3px;
 margin-bottom: 5px;
 background: #92cf5c;
 border-radius: 8px;
}
.header-mobile h2 {
 text-transform: uppercase;
 line-height: 5px;
 font-size: 32px;
 font-weight: 700;
 color: #92cf5c;
 font-family: 'Getvoipgrotesque'}
.logo-mobile div {
 display: inline-block;
}
.logo-mobile img {
 margin-top: -25px;
 width: 75px;
}
.main-container {
 padding: 0;
}
.nav-tabs li a:hover {
 border: none;
}
.nav-tabs > li > a {
 border: none;
}
.cat {
 margin-left: 40px;
}
.main-img {
 height: 570px;
 background-size: cover;
 filter: contrast(1.5);
}
.main .main-img > div {
 color: #fff;
}
.main .right-top-img {
 height: 285px;
 background: #6ebeb3;
 box-sizing: border-box;
}
.main .right-bottom-img {
 height: 285px;
 background: #92cf5c;
 box-sizing: border-box;
}
.main-img h1, .main-img h2, .main-img p {
 text-transform: uppercase;
}
.cat li a.active::after {
 content: '';
 position: absolute;
 height: 2px;
 width: 100%;
 bottom: 0;
 left: 0;
 background: #92cf5c;
 transition: width .5s;
}
.right-news-block {
 background: url(../img/image-3.png) no-repeat;
 background-size: cover;
}
.right-news-block > div > div {
 display: flex;
 align-items: center;
 justify-content: center;
 margin: 0;
}
.nav-cont-1 {
 border-top: 1px solid #f1f2f2;
 border-bottom: 1px solid #f1f2f2;
 padding-top: .5%;
 height: 75px;
}
.bottom-block-right {
 padding: 0;
 display: flex;
 align-items: center;
 justify-content: center;
}
.bottom-block-right > div {
 display: flex!important;
 justify-content: center;
}
.navbar li:hover a {
 background: transparent;
}
.navbar li:not(.nav-small) a {
 color: #4a4a4a;
 transition: color .2s;
 text-transform: uppercase;
 line-height: 1.835;
}
.navbar li a {
 color: #4a4a4a;
 transition: color .2s;
}
.navbar:nth-of-type(2) li:first-of-type {
 padding: 0;
}
.navbar li a:hover {
 color: #92cf5c;
}
.navbar:nth-child(2) {
 color: #676767;
}
.nav-cont {
 padding: 0;
 font-family: 'Muller-Bold';
 font-weight: 400;
 font-size: 14px!important;
 line-height: 1.835;
}
.nav-cont .nav-small {
 font-size: 13px!important;
 color: #ddd;
 font-family: 'GOTHAPROLIG'}
.dropdown-menu {
 max-width: 80%;
 border-radius: 0!important;
 z-index: 500;
}
.item-top {
 margin-bottom: 60px;
}
.cart-mobile img {
 width: 30px;
 margin-top: 5px;
}
.adventage-block {
 text-align: left;
}
.cart-mobile {
 position: relative;
}
div.sticker-mobile::before {
 content: '3';
 display: inline-block;
 position: absolute;
 width: 20px;
 height: 20px;
 background: #feaf02;
 top: 0;
 right: -10px;
 border-radius: 50%;
 color: #fff;
 text-align: center;
}
.item-container p {
 margin: 0;
}
.news-mobile data {
 font-size: 16px;
}
.news-mobile .date-container {
 background: #f8f9f8;
 width: 150px;
 max-width: 100%;
 height: 50px;
 padding: 16px 20px;
}

.news-mobile p {
 line-height: 32px;
}
#map {
 width: 100%;
 height: 700px;
}
.map {
 padding: 0;
}
.left-menu {
 overflow:  scroll;
 width: 65%;
 height: 100%;
 list-style: none;
 position: fixed;
 left: 0;
 top: 0;
 padding-left: 25px;
 padding-top: 10px;
 transform: translate(-1000px);
 transition: transform .5s;
 z-index: 100;
 background: #92cf5c;
}
.media img {
 max-width: 150px!important;
}
.left-menu li {
 margin: 15px;
 margin-left: 0;
}
.left-menu li:not(.nav-small) a {
 font-size: 22px;
 font-family: 'Muller-bold';
 line-height: 2.9;
}
.left-menu .nav-small a {
 line-height: 2.9;
 font-size: 18px;
}
.left-menu li a {
 font-weight: 400;
 color: #fff;
 text-transform: uppercase;
}
.left-menu .btn-close {
 margin-right: 25px;
 margin-top: 10px;
}
.visible-menu {
 transform: translate(0);
}
.left-menu img {
 width: 70%;
 height: auto;
}
.nav-cont-1 li a {
 padding-left: 0;
 padding-right: 5px;
}
.nav-caret {
 margin-left: 2px;
}
.main-container a:hover {
 text-decoration: none;
}
.main-container hr {
 transition: width 0.6s, transform .6s;
}
.main-container a:hover hr {
 width: 100%;
 transform: translateY(-40px);
}
.main-img {
 padding: 0;
}
.carousel-inner {
 height: 570px;
 width: 100%}
.carousel-inner .item {
 height: 100%;
 width: 100%}
.main-img .carousel-inner .item:first-of-type {
 background: url(../img/background-lg.png) no-repeat;
 background-size: cover;
}
.main-img .carousel-inner .item:nth-of-type(2) {
 background: url(../img/background-lg.png) no-repeat;
 background-size: cover;
}
.main-img .carousel-inner .item:last-of-type {
 background: url(../img/background-lg.png) no-repeat;
 background-size: cover;
}
.carousel-
.carousel-inner .item img {
 height: 100%;
 width: 100%}
.main-container h1, .main-container h2, .main-container p {
 color: #fff;
}
.main-container p {
 font-family: 'Muller-Regular';
 font-size: 16px;
 text-transform: lowercase;
 line-height: 1.625;
}
.main-container .lg-img h1 {
 font-family: 'Muller-Thin';
 font-size: 88px;
 line-height: 1.176;
 font-weight: 100!important;
 -webkit-appearance: none;
}
.main-container .lg-img h2 {
 font-size: 41px;
 font-weight: 400;
 padding-bottom: 10%;
 font-family: 'Muller-Regular';
 line-height: 1.189;
}
.main-img {
 filter: contrast(1.5);
}
.right-top-img, .right-bottom-img {
 text-align: center;
 display: flex;
 align-items: center;
 justify-content: center;
}
.right-top-img hr, .right-bottom-img hr {
 width: 110px;
}
.right-top-img h1, .right-bottom-img h1 {
 text-transform: uppercase;
 font-family: 'Muller-UltraLight';
 font-size: 30px!important;
 font-weight: 100;
 line-height: 1.2;
 margin-top: 50px;
}
.media-heading {
 margin-bottom: 50px;
}
.nav-justified {
 margin-top: 5px;
}
.carousel-indicators {
 left: 7%}
.carousel-indicators li {
 background: #d9d9d9;
 height: 8px;
 width: 8px;
 border: none;
 margin: 0;
 margin-left: 2px!important;
}
.carousel-caption {
 top: 10%;
 left: 5%;
 text-align: left;
 max-width: 350px;
}
#myCarousel .carousel-control {
 top: 45%;
 opacity: 0;
 transition: opacity .4s;
 width: 50px;
 background-image: none;
 position: absolute;
}
.main-img #myCarousel .carousel-control.left {
 left: 10px;
}
.main-img #myCarousel .carousel-control.right {
 right: 10px;
}
#myCarousel:hover .carousel-control {
 opacity: 1;
}
.item-top .media-body {
 padding-left: 40px;
}
.carousel-caption h1 {
 font-size: 88px;
 line-height: 1.176;
 font-family: 'Muller-Thin'}
.carousel-caption h2 {
 line-height: 1.189;
 font-size: 41px;
 font-family: 'Muller-Regular'}
.carousel-caption p {
 font-size: 16px;
 font-family: 'Muller-Regular';
 line-height: 1.6;
}
.carousel-indicators .active {
 background: #92cf5c;
 width: 8px;
 height: 8px;
 border: none;
}
.item-top h1 {
 font-size: 20px;
 font-family: 'GOTHAPROLIG'}
.item-top p {
 color: #d6d5d4;
 font-size: 12px;
 line-height: 1.667;
}
.item-top {
 width: 100%}
.item-top > div > div {
 border-right: 1px solid #e9eaea;
 border-bottom: 1px solid #e9eaea;
 height: 200px;
 padding-top: 2.5%;
 padding-right: 0!important;
}
.item-top .img img {
 padding-right: 0;
 max-height: 130px;
}
.item-top .img {
 padding-right: 0;
}
.nav-tabs {
 border: none;
}
.nav-tabs li a {
 color: #6c6c6c;
 font-size: 20px;
 font-style: GOTHAPROLIG;
 text-transform: uppercase;
 line-height: 1.284;
 font-weight: 700;
 padding-left: 0;
 padding-right: 0;
}
.nav-tabs li a:hover {
 background: transparent;
 border: none;
}
.item-bottom {
 vertical-align: middle;
 box-sizing: border-box;
 width: 100%;
 margin-top: 30px;
}
.item-bottom div div p {
 color: #4a4a4a;
 font-size: 16px;
 line-height: 1.605;
 font-size: 13px;
}
.item-bottom > div > div {
 height: 476x;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
 border: none;
}
.carousel-indicators-2 {
 bottom: 0!important;
 left: 50%!important;
}
.item-bottom del {
 color: #c4c4c4;
}
.item-bottom .row {
 margin-left: 0!important;
 margin-right: 0!important;
 margin-bottom: 150px;
}
.item-bottom .order-button {
 display: block;
 padding: 4% 6%;
 border: 2px solid #feaf03;
 width: 50%;
 color: #feaf02;
 opacity: 0;
 transition: opacity .3s;
 font-family: 'GOTHAPROBOL';
 font-size: 12px;
 line-height: 1.605;
 text-align: center;
}
.hover-item:hover .order-button {
 opacity: 1;
 display: block;
}
.item-bottom .price {
 line-height: .988;
 font-family: 'GOTHAPROMED';
 font-size: 26px!important;
 color: #4a4a4a;
}
.item-bottom .price span {
 font-size: 26px!important;
}
.clearfix::before {
 content: '';
 display: table;
}
.clearfix::after {
 content: '';
 display: table;
 clear: both;
}
.sticker::before {
 content: 'Лучшая цена';
 color: #fff;
 background: #92cf5d;
 display: inline-block;
 transform: rotate(-41deg);
 position: absolute;
 top: 20px;
 left: -43px;
 padding: 7px;
 font-size: 12px;
 width: 25%;
 min-width: 150px;
 padding-left: 13px;
 height: 25px;
}
.sticker {
 overflow: hidden;
}
.item-bottom > div > div > div > div {
 height: 185px;
}
.text-block {
 height: 50px;
 max-height: 100px;
}
.hover-item {
 border: 1px solid #f0f1f1;
 transition: border-color 0.3s, max-height 0.5s, box-shadow .5s;
 overflow: hidden;
 box-shadow: none;
}
.hover-item:hover {
 border-color: rgba(194, 224, 165, .7);
 box-shadow: 0 0 5px 1px #c7e7ac;
 max-height: 400px!important;
}
.bottom-block {
 box-sizing: border-box;
 min-width: 200px;
}
.bottom-block h2 {
 font-weight: 400;
 color: #fff;
 font-size: 16px;
}
.bottom-block .top-news h2 {
 font-size: 16px;
 font-family: 'GOTHAPROMED';
 text-transform: none;
 line-height: 1.75;
}
.bottom-block .bottom-news h2 {
 font-family: 'GOTHAPROMED';
 font-size: 16px;
 line-height: 1.75;
}
.bottom-block h1 {
 font-weight: 400;
 color: #fff;
}
.bottom-block p {
 color: #fff;
 line-height: 1.75;
}
.bottom-block .top-news p {
 line-height: 1.75;
 font-size: 12px;
}
.bottom-block {
 font-size: 70%;
 padding: 50px 30px;
 padding-top: 50px;
}
.bottom-block hr {
 margin-bottom: 35px;
}
.bottom-block p {
 font-size: 12px;
}
.bottom-block-right p {
 font-size: 20px;
 color: #000;
 line-height: 1.5;
}
.bottom-block-right strong {
 font-family: 'GOTHAPROMED'}
.news-block h1 {
 padding-bottom: 5%;
 line-height: 1.284;
 font-size: 16px;
}
.main-block {
 background: #feaf02;
}
.main-block h2 {
 line-height: 1.75;
 text-transform: none;
}
.news-block {
 background: #92cf5c;
}
.adventage-block {
 padding-top: 50px;
 clear: both;
 font-size: 14px;
}
.adventage-block p {
 line-height: 1.714;
}
.claerfix::after {
 content: '';
 display: table;
 clear: both;
}
.prewiew-block {
 padding: 50px;
 height: 150px;
 min-width: 33%;
 background: rgba(211, 211, 211, .2);
}
.prewiew-block:nth-of-type(2) {
 margin-left: .5%}
footer:not(.no-border) {
 border-top: 1px solid #f1f2f2!important;
}
footer.main-footer {
 border: none;
 padding-top: 0;
 padding-top: 40px;
 margin-bottom: 40px;
}
footer .payment-foot > div > div {
 height: 20px;
 border: 1px solid #000;
}
footer h2 {
 font-family: 'GOTHAPROMED';
 font-size: 22px;
 line-height: 0;
}
footer .payment-footer {
 margin-left: 1.5%}
footer p {
 font-size: 14px;
 line-height: 1.333;
}
footer {
 margin-bottom: 70px;
}
.breadcrumb-catalog {
 margin-top: 25px;
 background: transparent;
 font-size: 11px;
 color: #ebebeb;
}
.breadcrumb {
 padding: 0;
}
.main-catalog-item p:not(.caption-item-catalog) {
 margin-bottom: 0;
}
.main-catalog-item span {
 margin-bottom: 0!important;
}
.caption-category {
 padding-left: 35px!important;
}
.breadcrumb-catalog a {
 color: gray;
}
.breadcrumb-catalog li::before {
 display: none;
}
.breadcrumb>li+ li:before {
 display: none;
}
.item-bottom > div > div p {
 line-height: 25px;
 color: #4a4a4a;
}
.breadcrumb {
 padding-bottom: 0;
}
.form-inline a {
 margin-right: 1em;
 color: #000;
}
.page-numb {
 margin-right: 5rem;
 display: inline-block;
}
.main-header__line-box {
 padding-top: 7px;
 background: #fdfdfd;
 border-top: 1px solid #f1f2f2;
 border-bottom: 1px solid #f1f2f2;
 height: 75px;
}
.main-header__line-box a {
 font-size: 12px;
 color: #909090;
}
.main-header__line-box .icon {
 margin-left: .7em;
 margin-right: 0;
 font-size: 1.2em;
 color: #dadada;
}
.active-icon {
 color: #97d701;
}
.main-header__line-box a:hover {
 color: #97d701;
}
.arrow-catalog {
 top: 50px!important;
}
.caption-cat {
 padding: 0 2% 1%;
 text-align: left;
}
.caption-cat h1 {
 text-transform: uppercase;
 font-size: 40px;
 font-family: 'Muller-Regular';
 font-weight: 400!important;
 color: #4a4a4a;
}
.caption-news {
 text-align: left;
 margin-top: -20px;
 padding-left: 3%}
.main-news {
 border-bottom: 1px solid #f1f2f2;
}
.main-news .news-img-1 {
 padding: 0;
}
.main-news .row {
 height: 352px;
}
.main-news div {
 height: 100%}
.main-news .news-img-1 {
 background: url(../img/news-1.png) no-repeat;
 background-size: cover;
}
.main-news .news-img-2 {
 background: url(../img/news-2.jpg) no-repeat center center;
}
.main-news .news-img-3 {
 background: url(../img/news-3.png) no-repeat;
 background-size: cover;
}
.main-news .news-img-4 {
 background: url(../img/news-4.png) no-repeat;
 background-size: cover;
}
.main-news h4 {
 color: #92cf5c;
 font-size: 16px;
 line-height: 25px;
}
.main-news > div > div {
 padding: 2%}
.main-news p {
 font-size: 13px;
 line-height: 25px;
 color: #4a4a4a;
}
.main-news data {
 font-size: 16px;
 color: #4a4a4a;
 line-height: 25px;
}
.main-news > .row > div {
 box-shadow: none;
 border: 1px solid #e9eaea;
 transition: box-shadow .5s;
}
.main-news > .row > div:hover, .main-news > .row > div:hover +div {
 border: 1px solid #c7e7ac;
 box-shadow: 0 0 5px 3px lightgray;
}
.callback {
 position: absolute;
 background: url(../img/callback.png) no-repeat 5% 70% #feb20a;
 transform: rotate(-90deg);
 top: 500px;
 left: -80px;
 padding: 15px 20px 15px 50px;
 color: #fff;
 z-index: 100;
 font-family: 'Muller-Bold';
 font-size: 14px;
 text-transform: uppercase;
}
.callback:hover {
 text-decoration: none;
 color: #fff;
}
.arrow-bottom a {
 display: inline-block;
 border: 1px solid #d4d4d4;
 float: right;
 padding: 10px;
}
.arrow-bottom {
 margin-bottom: 10px;
 padding-top: 15px;
}
.back-arrow {
 position: absolute;
 left: 30px;
 top: 100px;
}
.caption-news {
 border-bottom: 1px solid #f0f1f1;
}
.caption-news h1 {
 font-size: 40px;
 font-family: 'Muller-Regular';
 color: #4a4a4a;
}
.news-mobile {
 padding: 20px;
}

.news-pr {
 margin-top: 10px;
}
.news-mobile h4 {
 font-size: 26px;
 color: #92cf5c;
}
.news-mobile p {
 font-size: 16px;
}




.btn-row {
 margin-top: 15px;
}
.news-mobile > div {
 border-bottom: 1px solid #f0f1f1;
 padding: 30px 20px;
}
.caption-order-form {
 padding-left: 3%}
.order-form .order-price {
 font-size: 26px;
 font-family: 'GOTHAPROMED';
 margin-left: 3%;
 color: #4a4a4a;
}
.order-form .order-price span {
 font-size: 20px;
}
.order-form h5 {
 line-height: 50px;
 margin-bottom: 50px;
}
.order-form .submit-btn {
 text-align: center;
}
.order-form input[type="submit"] {
 font-family: 'GOTHAPROBOL';
 font-size: 18px;
 min-width: 275px;
 max-width: 90%;
 padding: 15px 0;
}
.order-form input[type="submit"]:hover {
 text-decoration: underline;
}
.order-form #delivery, .order-form #opt {
 width: 100%}
input, textarea {
 width: 95%;
 border-top: none;
 border-left: none;
 border-right: none;
 border-bottom: 1px solid #b6b6b6;
 background: transparent;
}
#phone {
 margin-left: 5%}
input {
 position: relative;
}
input + label {
 position: absolute;
 top: -20px;
 left: 20px;
 color: #dcdddc;
}
input:focus + label, textarea:focus + label {
 display: none;
}
.row-form {
 margin-bottom: 50px;
}
textarea {
 position: relative;
}
textarea + label {
 position: absolute;
 top: -30px;
 left: 20px;
 color: #dcdddc;
}
input[type="submit"] {
 width: 70%;
 background: #feaf03;
 text-align: center;
 padding: 1.5% 0;
 color: #fff;
}
.order-form {
 background: #f8f9f8;
 padding: 75px 0 25px;
}
.order-form form h5 {
 font-size: 16px;
 color: #4a4a4a;
}
b.order-price {
 font-family: 'GOTHAPROMED';
 font-size: 26px;
 font-weight: 400!important;
}
b.order-price span {
 font-size: 20px;
}
.caption-order-form h1 {
 padding: 25px 0;
}
.menu-container-contact {
 padding: 0;
}
.capt {
 margin-left: 2.1%;
 font-family: 'Muller-Regular';
 font-size: 40px;
 color: #4a4a4a;
 text-transform: uppercase;
}
.divider {
 color: lightgray;
}
.btn-order {
 font-family: 'GOTHAPROBOL';
 font-size: 18px;
 display: inline-block;
 color: #fff!important;
 text-align: center;
 padding: 1.5% 5%;
 background: #feaf03;
 text-transform: uppercase;
 text-decoration: none;
}
.price-tovar-cart {
 display: inline-block;
 margin-top: 0;
 font-weight: 700;
 padding-left: 35px;
 font-family: 'Muller-bold';
 font-size: 40px;
 padding-top: 15px;
}
.price-tovar-cart .glyphicon {
 font-size: 30px;
}
.price-tovar-cart-container {
 margin-bottom: 1.5%}
.compare-link {
 background: url(../img/unknown-logo.png) no-repeat left center;
 width: 110px;
 display: inline-block;
 margin-right: 75px;
 font-size: 13px;
 text-align: right;
 color: #000;
 margin-top: 6px;
 padding-top: 1%;
 margin-left: 40px;
}
.compare-link:hover {
 color: #000;
}
.right-cart-btn {
 margin-right: 15%}
ul.oglavl {
 padding-right: 25%;
 margin-top: 30px;
 margin-bottom: 30px;
 list-style-type: none;
}
ul.oglavl li {
 border-bottom: 1px dotted #C2C2C2;
 position: relative;
 padding: 0;
 margin-bottom: 10px;
}
ul.oglavl li span {
 background-color: #FFF;
 margin: 0;
}
ul.oglavl li span.text, ul.oglavl li span.page {
 bottom: -5px;
 font-size: 13px;
}
ul.oglavl span.text {
 position: relative;
 margin-right: 7em;
 padding-right: 2px;
}
ul.oglavl span.page {
 position: absolute;
 right: 0;
 padding-left: 2px;
}
.oglavl-block {
 border: 1px solid #f0f1f1;
 background: #fdfdfd;
 width: 45%}
.item-preview-block div {
 border: 1px solid #f0f1f1;
 min-height: 50px;
 min-width: 70px;
 margin-top: 5%;
 box-sizing: border-box;
}
.social-row a {
 margin-top: 3%;
 display: inline-block;
 width: 90px;
 height: 38px;
 text-align: right;
 display: block;
}
.social-cart-fb {
 margin-left: 7px;
}
.social-cart-fb a {
 background: url(../img/fb-icon.png) no-repeat 20% center #3b5998;
}
.social-cart-vk a {
 background: url(../img/vk-icon.png) no-repeat 20% center #5b7fa6;
}
.social-cart-tw a {
 background: url(../img/tw-icon.png) no-repeat 20% center #57ccff;
}
.social-cart {
 padding-right: 5px;
 display: inline-block;
}
.social-row span {
 width: 50%;
 box-sizing: border-box;
 border-left: 1px solid #7489b6;
 height: 100%;
 display: inline-block;
 text-align: center;
 padding-top: 9px;
 color: #fff;
}
.social-row {
 margin-bottom: 65px;
}
.item-bottom-2 > div > div {
 height: 50px;
 box-sizing: border-box;
}
p.tovar-cart-price-bottom {
 font-size: 26px!important;
 font-family: 'GOTHAPROMED'!important;
}
p.tovar-cart-price-bottom span {
 font-size: 20px;
}
.tovar-cart-about-bottom {
 margin-bottom: 50px;
}
#review-form {
 width: 99.5%}
.star {
 color: #d4d4d4;
 font-size: 16px;
}
.gold-star {
 color: #feaf03;
}
.review > .row {
 margin-bottom: 50px;
}
.review input[type="submit"] {
 width: 30%}
.review p {
 margin-top: -25px;
}
.item-alt h3 {
 font-family: 'Muller-Regular';
 font-size: 26px;
 margin-left: 5%;
 display: inline-block;
}
.item-alt p {
 font-size: 16px;
}
.tovar-cart-alt-item {
 border: 1px solid #f0f1f1;
 height: 420px;
 padding-left: 2%}
.social-row > div {
 padding-left: 35px;
}
.about h3 {
 font-family: 'Muller-Regular';
 font-size: 26px;
}
.tovar-cart-about-bottom p {
 font-size: 16px!important;
 padding-right: 20%;
 padding-left: 5%}
.btn-scale {
 height: 35px;
 width: 35px;
 padding: 0;
 background: none;
 border: none;
 position: absolute;
 left: 50px;
}
.btn-scale img {
 height: auto!important;
}
.modal img {
 width: 100%}
.prew-cont {
 height: 200px!important;
}
.prew-cont img {
 margin: 0 auto;
 margin-top: 45px;
}
.about {
 padding-left: 40px;
 margin-top: -100px;
}
.about p {
 font-size: 13px;
 line-height: 26px;
 color: #4a4a4a;
 max-width: 650px;
}
#capch-area {
 width: 20%;
 margin-left: 4%}
.tovar-cart-review h3 {
 font-family: 'Muller-Regular';
 font-size: 26px;
 margin-left: 43px;
}
.tovar-cart-review {
 margin-bottom: 1%}
.mobile-btn .btn-order {
 width: 92%;
 font-size: 22px;
}
.item-bottom-2 .review h4 {
 font-size: 13px;
}
.item-bottom-2 .review {
 height: 420px;
 background: #f8f9f8;
 border: 1px solid #f0f1f1;
 padding: 1.5% 3% 2%}
.item-bottom-2 p:not(.price-tovar-cart-bottom) {
 font-size: 13px;
 line-height: 26px;
}
.item-bottom .btn-order {
 margin-bottom: 20px;
}
body > div:nth-child(6) > div.row.item-bottom-2 > div.col-sm-6.review.col-xs-12 > div:nth-child(1) > span:not(:first-of-type) {
 font-size: 18px;
}
.item-bottom-2 .submit-row {
 margin-top: 35px;
}
.item-bottom-2 #review-form {
 margin-bottom: 35px;
}
.item-bottom-2 input[type="submit"] {
 font-family: 'GOTHAPROBOL';
 font-size: 22px;
 background: transparent;
 border: 2px solid #feaf03;
 color: #feaf03;
 width: 185px;
 padding-top: 5px;
 padding-bottom: 7px;
 text-align: center;
 transition: color 0.2s, background .4s;
}
.item-bottom-2 input[type="submit"]:hover {
 background: #feaf03;
 color: #fff;
}
.item-bottom-2-btn {
 text-align: center;
}
.glyphicon-home {
 color: #bcbcbc;
}
.contact-header {
 padding: 0;
}
.item-container > div.main-catalog span, .main-catalog p:not(.caption-item-catalog) {
 padding-top: 30px;
 padding-right: 60px;
 margin-bottom: 30px;
}
.contact-header > div > div {
 height: 300px;
 display: flex;
 align-items: flex-end;
 padding-bottom: 40px;
 justify-content: center;
}
.contact-header > div > div p {
 color: #fff;
}
.contact-header > div > div:first-of-type p {
 font-size: 16px;
}
.contact-header > div > div:nth-of-type(2) p {
 font-family: 'GOTHAPROMED';
 font-size: 22px;
}
.contact-header > div > div:nth-of-type(3) p {
 font-family: 'GOTHAPROMED';
 font-size: 16px;
}
.contact-header > div > div:nth-of-type(4) p {
 font-family: 'GOTHAPROMED';
 font-size: 16px;
}
.contact-header > div > div:first-of-type {
 background: url(../img/nav-13.png) no-repeat center 40% #feaf02;
}
.contact-header > div > div:nth-of-type(2) {
 background: url(../img/phone-13.png) no-repeat center 40% #92cf5c;
}
.contact-header > div > div:nth-of-type(3) {
 background: url(../img/skype-13.png) no-repeat center 40% #6ebeb3;
}
.contact-header > div > div:last-of-type {
 background: url(../img/mail-13.png) no-repeat center 40% #9988a3;
}
.contact-main {
 padding: 0;
}
.contact-main > div > div:last-of-type {
 border-image: url(../img/border.png) 10;
 border: 10px solid #000;
 -moz-border-image: url(../img/border.png) 10;
 -webkit-border-image: url(../img/border.png) 10;
 -webkit-border-image: url(../img/border.png) 10;
 -o-border-image: url(../img/border.png) 10;
}
.contact-main > div > div {
 height: 700px;
}
.contact-main div:nth-of-type(2) {
 padding: 4.5% 7%}
.contact-main input, textarea {
 margin-bottom: 7%}
.contact-main h1 {
 font-family: 'Muller-light';
 font-size: 30px;
 color: #4a4a4a;
}
.contact-form {
 background: #f8f9f8;
}
.contact-main h1 {
 margin-bottom: 5%;
 margin-left: 6%}
.contact-main .sticker-map {
 position: absolute;
 background: url(../img/pick-logo.png) no-repeat center center #fff;
 width: 65px;
 height: 65px;
 border: 5px solid #92cf5c;
 top: 50%;
 left: 50%}
.contact-main .sticker-map::after {
 content: '';
 width: 1px;
 height: 1px;
 border: 20px solid #92cf5c;
 position: absolute;
 top: 100%;
 left: 18%;
 border-bottom-color: transparent;
 border-left-color: transparent;
 border-right-color: transparent;
}
.contact-main input[type="submit"] {
 font-family: 'GOTHAPROBOL';
 font-size: 16px;
}
.btn-mail-submit {
 width: 200px!important;
 background: transparent!important;
 color: #feaf03!important;
 border: 2px solid #feaf03!important;
}
.btn-mail-submit:hover {
 text-decoration: underline;
}
.map {
 max-width: 100%}
.contact-header > div > div {
 padding-bottom: 70px;
}
.cont-capt {
 text-align: center;
 margin-bottom: 20px;
}
.cont-capt {
 margin-left: 15px;
}
.navbar-right {
 margin-right: 50px;
}
.more-button-catalog a {
 margin-bottom: 40px;

}
.first-box {
 width: 16px;
 height: 16px;
}
.form-inline img {
 margin: 0!important;
}
.form-inline {
 display: flex;
 align-items: center;
}
.first-box div {
 width: 7px;
 height: 7px;
 background: #dadada;
 float: left;
 margin-left: 1px;
}
.first-box div:first-of-type, .first-box div:nth-of-type(2) {
 margin-bottom: 1px;
}
.cont-capt h1 {
 font-size: 40px;
 margin: 0!important;
 font-family: 'Muller-Regular';
 margin-left: 1.5%!important;
}
.cart-item-1 {
 margin-left: 3%}
.cart-container > div > div:not(.cart-no-flex) {
 height: 250px;
 display: flex;
 align-items: center;
}
.cart-toggle a {
 border: 1px solid #d1d2d2;
 height: 50px;
}
.cart-toggle span {
 border-color: #d1d2d2;
}
.bg-container {
 background: url(../img/minus.png) no-repeat 6% center, url(../img/plus.png) no-repeat 94% center transparent!important;
 min-width: 150px;
 max-width: 200px;
}
.price-cart {
 margin-bottom: 10px;
}
.cart-submit {
 border-top: 1px solid #d1d2d2;
 border-bottom: 1px solid #d1d2d2;
 height: 220px;
}
.bg-container-mobile {
 background: url(../img/minus.png) no-repeat 10% center, url(../img/plus.png) no-repeat 90% center transparent!important;
 width: 150px;
 padding-left: 20%;
 border: 1px solid #d1d2d2;
 height: 45px;
}
.bg-container-mobile:hover {
 text-decoration: none;
}
.bg-container-mobile span {
 width: 50%;
 border-right: 1px solid #d1d2d2;
 border-left: 1px solid #d1d2d2;
 height: 45px;
 display: inline-block;
 font-size: 16px;
 text-align: center;
 padding-top: 11px;
 color: #4a4a4a;
}
.bg-container span {
 width: 170px;
}
.row-item-cart-capt {
 padding: 5px 0;
}
.inc a {
 display: inline-flex;
 color: #d1d2d2;
 float: left;
 width: 50px;
 border: 1px solid #d1d2d2;
 height: 50px;
 font-size: 55px;
 justify-content: center;
 align-items: center;
}
.inc a:hover {
 text-decoration: none;
}
.inc span {
 display: inline-flex;
 float: left;
 color: #4a4a4a;
 width: 70px;
 height: 50px;
 border: 1px solid #d1d2d2;
 border-right: none;
 border-left: none;
 font-size: 16px;
 justify-content: center;
 align-items: center;
}
.item-row-page p {
 font-size: 16px;
 color: #4a4a4a;
 line-height: 25px;
 padding-right: 25%}
.bg-container span {
 font-size: 16px;
 text-shadow: 0 0 1px lightgray;
}
.item-row-page {
 border-top: 1px solid #eaebeb;
}
.price-mobile-cart h3 {
 font-size: 26px;
 font-family: 'GOTHAPROMED'}
.price-mobile-cart span {
 font-size: 20px;
}
.item-row-page {
 margin-bottom: 0!important;
}
.cart-item-price h3 {
 font-family: 'GOTHAPROMED';
 font-size: 26px;
 color: #4a4a4a;
}
.cart-item-price span {
 font-size: 20px;
}
.row-item-cart h1 {
 font-family: 'Muller-Regular';
 font-size: 40px;
 color: #4a4a4a;
 margin-left: 53px;
}
.bg-container span {
 border: 1px solid #d1d2d2;
 margin-right: 24%;
 border-top: none;
 border-bottom: none;
 color: #000;
 font-size: 16px;
 color: #4a4a4a;
}
.close-btn-cart {
 width: 75px;
}
.cart-order-button {
 display: inline-block;
 color: #fff;
 background: #feaf03;
 width: 300px;
 padding: 15px 0;
 text-align: center;
 font-family: 'GOTHAPROBOL';
 font-size: 18px!important;
 text-transform: uppercase;
}
.cart-order-button:hover {
 color: #fff;
}
.btn-more-container, .btn-more-container-xs {
 padding-top: 5%}
.btn-more-container a {
 display: block;
 width: 75%;
 color: #feaf03;
 border: 1px solid #feaf03;
 text-align: center;
 font-size: 1.5rem;
 padding: 10px 0;
 text-transform: uppercase;
}
.btn-more-conteiner-xs a {
 display: block;
 width: 90%;
 color: #feaf03;
 border: 1px solid #feaf03;
 text-align: center;
 font-size: 1.5rem;
 padding: 10px 0;
 text-transform: uppercase;
 margin: 0 auto;
}
.btn-more-conteiner-xs {
 padding-top: 20px;
}
.capt {
 font-size: 40px;
 font-family: 'Muller-Regular';
 margin-left: 45px;
 margin-top: 0;
}
.item-bottom-2 p.price {
 font-size: 26px;
 font-family: 'GOTHAPROMED';
 padding-left: 8%}
.item-bottom-2 .glyphicon-ruble {
 font-size: 20px;
}
.glyphicon-ruble {
 font-size: 26px;
}
.item-bottom-2 .review {
 background: #f8f9f8;
 padding: 40px 60px 40px 50px;
}
.item-row-page {
 border-top: 1px solid #f1f1f1;
 border-bottom: 1px solid #f1f1f1;
}
.cart-container div.row:nth-child(5) {
 background: #fdfdfd;
 padding: 1% 2%}
.cart-container .price-cart h1 {
 font-size: 40px;
 font-family: 'Muller-Bold';
 color: #4a4a4a;
}
.cart-container .price-cart span {
 font-size: 28px;
 color: #4a4a4a;
}
.catalog-container {
 height: 420px!important;
}
.sort-catalog-link {
 margin-left: 1.1%}
.alert-sticker::before {
 content: '2';
 display: flex;
 align-items: center;
 justify-content: center;
 width: 15px;
 height: 15px;
 border-radius: 50%;
 background: #feaf02;
 position: absolute;
 top: 0;
 left: 236px;
 z-index: 1000;
 font-size: 9px;
}
.tovar-prew-toggle {
 position: absolute;
 top: 110%;
 left: 10px;
 z-index: 1000;
 width: 100%;
 list-style: none;
 display: inline-flex;
}
.nav-cont-1 ul li a {
 padding-left: 10px;
}
.tovar-prew-toggle li {
 margin-right: 2%}
#tovarCartCarousel .item {
 transition: none;
}
.tovar-prew-toggle li {
 display: inline-block;
 margin-left: 3px;
 border: 1px solid #f0f1f1;
 width: 110px;
 height: 90px;
 cursor: pointer;
}
#tovarCartCarousel {
 margin-bottom: 100px;
}
.tovar-prew-toggle li.green-bord {
 border-color: #c7e7ac;
}
#tovarCartCarousel .item img {
 height: 350px;
}
#tovarCartCarousel .carousel-inner {
 height: 350px;
}
.contact-contact {
 padding-bottom: 45px!important;
}
#tovarCartCarousel .item img {
 max-width: 90%}
.caption-category {
 padding-left: 50px;
}
.caption-category h1 {
 font-size: 40px;
 display: inline-block;
 font-family: 'Muller-Regular';
 color: #4a4a4a;
 direction: inline-block;
}
.caption-category a {
 display: inline-block;
}
.sort-catalog-link {
 margin-left: 25px!important;
}
.cont {
 padding: 0 30px!important;
}
.main-catalog p.caption-item-catalog {
 font-size: 16px;
 height: 70px;
 margin-top: 35px;
 text-align: left;
}
.main-catalog p:not(.caption-item-catalog) {
 font-family: 'GOTHAPROMED';
 font-size: 26px;
 text-align: left;
}
.main-catalog > .row > div {
 border: 1px solid #f0f1f1;
 height: auto;
 transition: height 0.7s, box-shadow .7s;
 text-align: center;
 padding: 0 2.5%}
.st-price {
 float: left;
}
.main-catalog .red-price, .main-catalog .double-price {
 float: left;
}
.main-catalog .old-price {
 float: left;
}
.main-catalog .glyphicon-ruble {
 font-size: 20px;
}
.main-catalog .red-price {
 color: #eb3131;
 margin-right: 10%}
.main-catalog .double-price {
 margin-right: 10%}
.main-catalog .old-price {
 color: #b7b7b7;
}
.main-catalog .order-button-catalog a {
 padding: 4px 0;
 width: 200px;
 border: 2px solid #feaf03;
 color: #feaf03;
 text-align: center;
 font-size: 22px;
 font-family: 'GOTHAPROBOL';
 display: block;
 text-transform: uppercase;
}
@media screen and (max-width: 406px) {
 .content-catalog p:not(.caption-item-catalog), .content-catalog .double-price, .content-catalog .red-price {
                                                  padding: 0;
                                                 }
}.hide-btn {
  display: none;
  opacity: 0;
  transition: opacity .6s;
  margin-bottom: 30px;
  text-align: left;
 }
.main-catalog > .row > div:hover {
 box-shadow: 0 0 5px 1px #c7e7ac;
}
.main-catalog img {
 margin: 0 auto;
 margin-top: 50px;
}
.float-block {
 display: flex;
 min-height: 550px;
}
body > div.main-catalog.container-fluid > nav {
 margin-bottom: 0;
}
.more-button-catalog {
 text-align: center;
 margin-top: 50px;
}
.more-button-catalog a {
 text-decoration: none;
 color: #feaf02;
 border: 2px solid #feaf03;
 display: inline-block;
 width: 200px;
 padding: 10px 0;
 font-family: 'GOTHAPROBOL';
 font-size: 16px;
 text-transform: uppercase;
}
.more-button-catalog a:hover {
 text-decoration: underline;
}
footer {
 border-top: 1px solid #f1f2f2;
 padding-top: 50px;
}
footer p {
 font-size: 12px;
}
footer h3 {
 font-family: 'GOTHAPROMED';
 font-size: 22px;
}
.main-catalog .glyphicon-ruble {
 font-size: 20px;
}
footer > .row > div {
 padding-left: 25px;
}
.container-fluid:not(.slide-menu-container) {
 padding-right: 0;
 padding-left: 0;
}
.slide-menu-container {
 padding-top: 10px;
}
.navbar-form {
 padding: 0;
}
.main-header__line-box {
 height: auto;
}
@media screen and (max-width: 991px) {
 .caption-category {
  text-align: center;
 }
 .main-header__line-box a {
  font-size: 16px!important;
 }
 footer > .row > div {
  padding-left: 50px;
 }
 footer .social-catalog {
  border-top: 1px solid #92cf5c;
 }
}@media screen and (max-width: 768px) {
 .more-button-catalog a {
  width: 70%;
  display: inline-block;
 }
}@media screen and (max-width: 600px) {
 .main-catalog p:not(.caption-item-catalog) {
 font-size: 20px;
}
 .main-catalog .glyphicon-ruble {
  font-size: 16px;
 }
 .main-catalog p.caption-item-catalog {
  font-size: 14px;
 }
 .main-catalog span, .main-catalog p:not(.caption-item-catalog) {
  font-size: 16px!important;
 }
 footer .contact-catalog h3 {
  font-size: 14px!important;
 }
 .more-button-catalog {
  display: flex;
  justify-content: center;
 }
 footer > .row > div {
  padding-left: 25px;
 }
}@media screen and (max-width: 480px) {
 .main-catalog .order-button-catalog a {
  font-size: 16px;
 }
 .caption-item-catalog {
  margin-bottom: 20px!important;
 }
 .main-catalog .order-button-catalog {
  padding-left: 0;
 }
 .main-catalog span, .main-catalog p:not(.caption-item-catalog) {
  font-size: 12px!important;
 }
}.content-catalog .order-button-catalog.hide-btn {
  margin-top: -15px!important;
 }
.final-price {
 padding-left: 50px;
}
.btn-hover {
 transition: color 0.2s, background .4s;
}
.btn-hover:hover {
 background: #feaf03!important;
 color: #fff!important;
 text-decoration: none!important;
}
.orange {
 transition: background 0.4s, color .4s;
}
.orange:hover {
 background: #feaf03;
 color: #fff;
}
.carousel-caption {
 left: 7.5%}
.carousel-indicators {
 left: 9%;
 left: 9%}
.bottom-block span {
 color: #fff;
 padding: 2.5%;
 border: 1px solid rgba(255, 255, 255, .4);
 font-size: 12px;
 line-height: 2.333;
}
@media screen and (min-width: 1701px) {
 .item-preview-block > div {
  height: 85px;
 }
}@media screen and (max-width: 1700px) {
 .item-preview-block > div {
  height: 75px;
 }
}@media screen and (max-width: 1540px) {
 header .logo h2 {
  font-size: 37px!important;
 }
 header .logo img {
  width: 97%!important;
 }
 header .contact h2, footer .contact-catalog h3 {
  font-size: 18px!important;
 }
 header .contact img {
  width: 5%}
 header .work-time h5, .work-time span {
  font-size: 8px!important;
 }
 header .work-time img {
  width: 10%}
}@media screen and (min-width: 1078px) and (max-width: 1396px) {
 .main-catalog > .row > div {
  padding: 0 1.1%}
}@media screen and (min-width: 1009px) and (max-width: 1077px) {
 .main-catalog > .row > div {
  padding: 0 .5%}
}@media screen and (min-width: 991px) and (max-width: 1008px) {
 .main-catalog > .row > div {
  padding: 0;
 }
}@media screen and (max-width: 1345px) {
 .item-preview-block > div {
  height: 60px;
 }
}@media screen and (max-width: 1250px) {
 header .logo h2 {
  font-size: 31px!important;
 }
 header .logo img {
  width: 94%!important;
 }
}@media screen and (max-width: 1125px) {
 header .logo h2 {
  font-size: 27px!important;
 }
 header .logo img {
  width: 91%!important;
 }
 .nav-cont li:not(.navsmall) a {
  font-size: 12px!important;
 }
}@media screen and (max-width: 1185px) {
 .content-catalog .double-price {
  padding-right: 5%}
 .content-catalog p:not(.caption-item-catalog), .content-catalog .double-price, .content-catalog .red-price {
  font-size: 20px;
 }
 .content-catalog .glyphicon-ruble {
  font-size: 15px!important;
 }
}@media screen and (max-width: 1057px) {
 header .logo h2 {
  font-size: 25px!important;
 }
 header .logo img {
  width: 88% !important;
 }
 .tovar-prew-toggle {
  left: -50px;
 }
}@media screen and (min-width: 991px) and (max-width: 1057px) {
 .inc a {
  width: 25px;
  height: 35px;
 }
 .inc span {
  width: 35px;
  font-size: 13px;
  height: 35px;
 }
 .inc img {
  max-width: 70%}
}@media screen and (max-width: 1099px) {
 .item-preview-block > div {
  height: 50px;
 }
 footer > .row > div {
  padding-left: 0;
 }
}@media screen and (max-width: 1000px) {
 header .logo h2 {
  font-size: 23px!important;
 }
 header .logo img {
  width: 85%!important;
 }
 header .contact h2, footer .contact-catalog h3 {
  font-size: 16px!important;
 }
 header .contact img {
  width: 5%}
 .adventage-block .row > div {
  margin-bottom: 10px;
 }
 footer .col-sm-6 {
  margin-bottom: 50px;
 }
 footer .social {
  border-top: 1px solid #92cf5c;
  padding-top: 35px;
  padding-bottom: 35px;
 }
}@media screen and (max-width: 930px) {
 .item-preview-block > div {
  height: 30px;
 }
}@media screen and(min-width: 900px) {
 .bg-3 {
  background: url(../img/payment.png) no-repeat 2% 0, url(../img/payment-2.png) no-repeat 10% 50%, url(../img/payment-3.png) no-repeat 12% 50%}
}@media screen and (min-width: 991px) {
 .contact-catalog p {
  margin-bottom: 20px;
 }
 .copyright-catalog p:first-of-type {
  margin-bottom: 16px;
 }
 .cont-capt {
  text-align: left;
  margin-left: 15px;
 }
 .breadcrumb-catalog {
  margin-left: 40px;
 }
 .nav-tabs li:first-of-type {
  margin-right: 60px;
 }
 .item-container > div:hover .hide-btn {
  opacity: 1;
  display: block;
 }
 .content-catalog .hide-btn {
  display: block!important;
  margin-bottom: 15px;
 }
 .copyright-catalog p:first-of-type {
  line-height: 1.2;
 }
 .cart-order-button {
  width: 250px;
  margin-right: 350px;
 }
 .final-price .col-md-12 {
  padding: 0;
 }
 .order-form .submit-btn {
  text-align: left;
 }
 .contact-form {
  margin-right: 0;
 }
 .contact-catalog h3 {
  line-height: 15px;
  margin: 0!important;
  padding: 0!important;
 }
}@media screen and (max-width: 991px) {
 .adventage-block p {
  padding-top: 15px;
 }
 .cart-order-button {
  margin-bottom: 25px;
 }
 .cart-submit {
  border-bottom: none;
  border-top: 1px solid #f1f2f2;
 }
 .main-img #myCarousel .carousel-caption {
  left: 10%}
 .row-item-cart h1 {
  margin-left: 0;
 }
 .news-mobile > .btn-row {
  border-bottom: none;
 }
 input + label, textarea + label {
  left: 0;
 }
 .float-block p {
  font-size: 18px!important;
 }
 .float-block h1 {
  font-size: 30px!important;
 }
 .float-block h2 {
  font-size: 22px!important;
 }
 .float-block > div {
  padding-bottom: 100px;
 }
 .float-block span {
  font-size: 20px!important;
 }
 footer > .row > div {
  padding-left: 50px;
 }
 .cont-capt {
  margin-top: 20px;
  margin-bottom: 20px;
 }
 .caption-news h1 {
  text-align: center;
  padding: 25px 0 15px;
 }
 .cat li a::after {
  display: none!important;
 }
 .cat li a {
  border: 1px solid #92cf5c!important;
  margin: 0!important;
  padding: 15px;
  border-radius: 0!important;
 }
 .cat li a.active {
  background: #92cf5c!important;
  color: #fff!important;
 }
 .order-form h5 {
  margin-left: 0;
 }
 .order-form {
  padding-top: 25px!important;
  padding-left: 10%!important;
  padding-right: 10%!important;
 }
 .order-form label {
  margin-left: 0!important;
 }
 b.order-price {
  display: block;
  margin-left: 0;
 }
 .order-form .order-price {
  margin-left: 0;
 }
 .bottom-block-right {
  min-height: 535px;
 }
 .bottom-block-right p {
  padding: 0 10%;
 }
 #phone {
  margin-left: 0;
 }
 .tovar-cart-alt-item {
  height: auto;
 }
 .item-alt {
  padding: 8px 0!important;
 }
 .social-row {
  margin-bottom: 50px;
 }
 .capt-row-top {
  margin-top: 25px;
 }
 .mobile-caption {
  margin-bottom: 25px;
 }
 .btn-order-cart-bottom {
  margin-bottom: 40px!important;
 }
 .review-bottom {
  margin-left: 0!important;
  margin-right: 0;
 }
 .tovar-cart-about-bottom {
  margin-bottom: 0;
 }
 .item-bottom-2-btn {
  margin-bottom: 20px;
 }
 .mobile-btn .btn-order {
  width: 85%}
 .nav.nav-tabs {
  display: flex;
  justify-content: center;
 }
 .mobile-carousel .carousel-inner {
  height: auto;
 }
 .mobile-carousel .item {
  height: auto;
 }
 .mobile-carousel .item img {
  height: auto;
 }
 .mobile-carousel .carousel-indicators-2 {
  bottom: -15px!important;
 }
 .item-top {
  margin-bottom: 30px;
 }
 .cat {
  margin-left: 0;
 }
 .submit-row {
  margin-left: 0;
 }
 .media-heading {
  margin-bottom: 0;
 }
 .review-bottom + div {
  margin-left: 0;
  margin-right: 0;
 }
 .row-item-cart h1 {
  text-align: center;
 }
 footer {
  margin-bottom: 50px!important;
 }
 footer .social-catalog {
  padding-top: 50px;
 }
 .cart-order-button {
  margin-top: 2%!important;
  font-size: 22px!important;
 }
 .cart-order-button {
  width: 90%!important;
  margin-left: auto!important;
  margin-right: auto!important;
  display: block;
 }
 .cart-container div.row:nth-child(5) {
  padding: 1% 0;
 }
 .order-button-catalog:not(.hide-btn) {
  display: inline-block!important;
 }
 .close-btn-cart {
  margin-top: 20px;
 }
 .item-row-page p {
  float: left;
 }
 .inc {
  padding-left: 2.9%}
 .cart-submit {
  margin: 0!important;
 }
 .cart-container {
  padding: 0;
 }
 .oglavl-block {
  width: 100%!important;
  margin-top: 40px;
 }
 .about {
  padding-left: 35px;
  margin-bottom: 15px;
 }
 .social-row {
  padding-left: 2.8%}
 .social-row > div {
  padding-left: 15px;
 }
 .item-alt {
  padding-left: 5%;
  border: 1px solid #f1f2f2;
  padding-top: 20px;
  padding-bottom: 20px;
 }
 .tovar-cart-alt-item:first-of-type {
  padding-left: 5%!important;
 }
 .item-bottom-2-btn {
  margin-top: 60px;
 }
 .btn-order-cart-bottom {
  color: #feaf02;
  font-size: 22px;
  font-family: 'GOTHAPROBOL';
  padding: 8px 0;
  border: 2px solid #feaf03;
  display: block;
  width: 200px;
  margin: 0 auto;
  text-transform: uppercase;
 }
 .btn-order-cart-bottom:hover {
  color: #feaf02;
 }
 .item-bottom-2 .review {
  padding-left: 7%!important;
  height: auto!important;
  padding-bottom: 5%!important;
 }
 .item-bottom-2 .review h3 {
  font-size: 26px;
  font-family: 'Muller-Regular';
  color: #4a4a4a;
 }
 .item-bottom-2 .review span {
  font-size: 16px!important;
 }
 .item-bottom-2 .review span.glyphicon {
  font-size: 20px!important;
 }
 .item-bottom-2 .review p {
  font-size: 16px!important;
 }
 .item-bottom-2 .review input[type="submit"] {
  float: left!important;
  margin-top: 35px;
  width: 200px;
 }
 .capt-row-top h1 {
  display: inline-block;
 }
 .capt-row-top img {
  display: inline-block;
  padding-bottom: 15px;
 }
 .capt-row-top {
  text-align: center;
 }
 .item-bottom > div > div > div {
  max-height: 400px!important;
 }
 .hover-item:hover {
  box-shadow: none;
  max-height: 400px!important;
 }
 .item-bottom .order-button {
  display: block;
  opacity: 1;
 }
 .mobile-caption h2 {
  font-family: 'Muller-Bold';
  font-size: 40px;
 }
 .mobile-caption span {
  font-size: 30px;
 }
 .oglavl-block {
  margin-bottom: 120px;
 }
 .float-block {
  display: block;
 }
 .float-block hr {
  color: #b8e07c;
 }
 .main-catalog .order-button-catalog {
  margin-bottom: 20px;
 }
 footer .copyright > div:nth-of-type(2) p {
  line-height: 45px;
 }
 .item-top > .row > div > .media > .media-body {
  vertical-align: middle;
 }
 .item-top > .row > div:first-of-type > .media > .media-body {
  padding-top: 40px;
 }
}@media screen and (min-width: 991px) {
 .item-bottom > div > div {
  height: 600px;
 }
 footer > .row {
  display: flex;
  justify-content: space-between;
 }
 .main-catalog-item > .row > div:hover .hide-btn {
  opacity: 1!important;
  display: block!important;
 }
}@media screen and (max-width: 960px) {
 header .logo h2 {
  font-size: 21px!important;
 }
 header .logo img {
  width: 82%!important;
 }
}@media screen and (max-width: 920px) {
 header .logo h2 {
  font-size: 19px!important;
 }
 header .logo img {
  width: 79%!important;
 }
}@media screen and (max-width: 870px) {
 header .logo h2 {
  font-size: 16px!important;
 }
 header .logo img {
  width: 65%!important;
 }
 header .contact h2, footer .contact-catalog h3 {
  font-size: 14px!important;
 }
 header .contact img {
  width: 5%}
 .adventage-block p {
  margin-top: 20px;
 }
}@media screen and (min-width: 595px) and (max-width: 767px) {
 .adventage-block .row > div.ad {
  width: 29%}
}@media screen and (max-width: 767px) {
 .adventage-block .bag-3 {
  margin-right: 7.5%}
 .order-form input[type="submit"] {
  padding: 2% 0!important;
 }
 input, textarea {
  width: 100%}
 .carousel-indicators {
  left: 50%!important;
 }
 .adventage-block p {
  margin-top: 20px;
 }
 .capt-row-top {
  text-align: center;
 }
 .hover-item:hover {
  border: 1px solid rgba(194, 224, 165, .7);
 }
 footer p {
  font-size: 12px;
 }
 footer h2 {
  font-size: 16px;
 }
 footer .copyright > div:nth-of-type(2) p {
  line-height: 75px;
 }
 .adventage-block > .row > div {
  display: flex;
  align-items: center;
 }
 .adventage-block img {
  padding-top: 20px;
 }
 .hover-item:hover .order-button {
  display: block;
  opacity: 1;
 }
 .item-bottom a {
  cursor: pointer;
 }
 .item-bottom .hover-item {
  border-color: rgba(194, 224, 165, .7)!important;
 }
 .item-bottom .order-button {
  display: block;
  opacity: 1;
 }

 .prewiew-block {
  width: 100%;
  margin: 1% 0 0;
 }
 .adventage-block {
  margin-top: -5%}
 .social {
  border-top: 1px solid #92cf5c;
  padding-top: 20px;
 }
 .main-header__line-box {
  text-align: center;
 }
 .caption-news h1 {
  margin-left: 1.5%}
 .caption-news {
  margin-top: 0;
  text-align: center;
 }
 #name {
  margin-bottom: 50px;
 }
 input[type="submit"] {
  width: 100%}
 .order-form {
  padding: 0 25px;
 }
 .order-form label {
  color: #000;
 }
 .caption-order-form {
  text-align: center;
 }
 .capt-row-top {
  text-align: center;
 }
}@media screen and ( max-width: 640px) {
 .item-bottom {
  clear: both;
 }
}@media screen and (max-width: 595px) {
 .cat li a {
  font-size: 16px!important;
 }
 .item-bottom-2 p.price {
  margin-top: 75px!important;
 }
}@media screen and (max-width: 500px) {
 .cat li a {
  font-size: 14px!important;
 }
 .main-catalog .order-button-catalog a {
  width: 150px;
 }
}@media screen and (max-width: 449px) {
 .main-img #myCarousel .carousel-caption {
  left: 12%}
 .main-img #myCarousel .carousel-caption h1 {
  font-size: 36px;
 }
 .main-img #myCarousel .carousel-caption h2 {
  font-size: 23px;
 }
 .main-img #myCarousel .carousel-control i {
  font-size: 50px!important;
 }
 .main-img #myCarousel .carousel-control.left {
  left: 0;
 }
 .main-img #myCarousel .carousel-control.right {
  right: 0;
 }
 .cat li a {
  font-size: 10px;
  padding: 0!important;
  margin-left: 5px!important;
 }
 .cat li:last-of-type a {
  margin-left: 10px!important;
 }
 .btn-order-cart-bottom {
  width: 150px!important;
 }
}
@media screen and (max-width: 991px) {
 .contact-header > div > div {
  height: 200px;
 }
 .contact-header > div > div:first-of-type {
  background: url(../img/nav.png) no-repeat 10% 50% #feaf02;
 }
 .contact-header > div > div:nth-of-type(2) {
  background: url(../img/phone-contacts.png) no-repeat 10% 50% #92cf5c;
 }
 .contact-header > div > div:nth-of-type(3) {
  background: url(../img/skype.png) no-repeat 10% 50% #6ebeb3;
 }
 .contact-header > div > div:last-of-type {
  background: url(../img/mail-contacts.png) no-repeat 10% 50% #9988a3;
 }
}
@media screen and (max-width: 411px) {
 .contact-header > div > div:first-of-type {
  background: url(../img/nav.png) no-repeat 5% 40% #feaf02;
  background: url(../img/nav.png) no-repeat 5% 40% #feaf02;
 }
 .contact-header > div > div:nth-of-type(2) {
  background: url(../img/phone-contacts.png) no-repeat 5% 50% #92cf5c;
 }
 .contact-header > div > div:nth-of-type(3) {
  background: url(../img/skype.png) no-repeat 5% 50% #6ebeb3;
 }
 .contact-header > div > div:last-of-type {
  background: url(../img/mail-contacts.png) no-repeat 5% 50% #9988a3;
 }
 .item-bottom-2 p.price {
  font-size: 20px!important;
 }
 .item-bottom-2 .glyphicon {
  font-size: 15px;
 }
 .inc a {
  width: 35px;
 }
 .inc span {
  width: 55px;
 }
 .about-item-cart p {
  font-size: 12px;
 }
 .price-mobile-cart h3 {
  font-size: 18px;
 }
 .price-mobile-cart span {
  font-size: 13px;
 }
}@media screen and (max-width: 386px) {
 footer .contact-catalog, footer .copyright-catalog {
  width: 100%}
}@media screen and (max-width: 378px) {
 .item-row-page .cart-item-1 {
  width: 100%}
 .item-row-page .col-xs-5 {
  width: 100%;
  text-align: center;
 }
 .item-row-page .col-xs-5 .inc {
  width: 150px;
  margin: 0 auto;
 }
 .price-cart h1 {
  font-size: 26px!important;
 }
 .price-cart .glyphicon-ruble {
  font-size: 20px!important;
 }
 .about-item-cart {
  text-align: center;
 }
 .about-item-cart p {
  float: none;
  text-align: center;
  padding-right: 0;
 }
 .logo-mobile img {
  width: 50px;
 }
 .logo-mobile h2 {
  font-size: 20px;
 }
 .cat li a {
  font-size: 11px!important;
 }
}@media screen and (max-width: 360px) {
 .arrow-catalog {
  top: 200px;
 }
}@media screen and (max-width: 325px) {
 .main-catalog > .row > div {
  width: 100%}
 .item-top > div > div {
  width: 100%}
}@media screen and (max-width: 310px) {
 .toggle {
  width: 20px;
  margin-bottom: 3px;
 }
 .logo-mobile img {
  width: 35px;
 }
 .cart-mobile img {
  width: 20px;
  margin-top: 8px;
 }
}@media screen and (max-width: 275px) {
 .left-menu {
  width: 80%;
  font-size: 10px!important;
 }
 .left-menu li:not(.nav-small) a {
  font-size: 12px;
 }
}@media screen and (max-width: 186px) {
 .toggle {
  width: 15px;
  margin-bottom: 2px;
  margin-top: 2px;
 }
 .logo-mobile img {
  width: 25px;
 }
 .logo-mobile h2 {
  font-size: 2rem;
 }
 .cart-mobile {
  width: 15px;
  margin-top: 5px;
 }
} @media screen and (max-width: 380px) {
 .contact-header > div > div:first-of-type {
  padding-left:  50px;
 }
}
.modal input {
 margin-bottom:  30px;
}
.modal input[type="submit"] {
 padding:  15px;
 width:  80%;
}
.modal-content {
 border-radius:  0;
}
#call .modal-content  {
 width:  350px;
}
.modal input[type="submit"] {
 width:  95%}
.modal-content  {
 padding:  30px 20px 0 20px;
}
@media screen and (max-width: 550px) {
 .contact-header > .row > div > div  {
  padding-left:  17%;
 }
 .cart-container > div > div:not(.cart-no-flex)  {
  max-width:  320px;
 }
 .cart-item-1  {
  margin-left:  0;
 }
 .close-btn-cart {
  width:  auto;
 }
} @media screen and (max-width: 767px) {
 .capt  {
  margin-left:  0;
 }
 .caption-news  {
  padding-left:  0 !important;
 }
}#capch-area {
  width:  17%;
 }
.item-bottom-2 input[type="submit"] {
 width:  170px;
}
@media screen and (max-width: 400px)  {
 .capt  {
  font-size:  17px;
 }
 .back-arrow  {
  top:  90px;
 }
 .about {
  padding:  20px !important;
 }
 .social-row > div  {
  padding-left:  0;
 }
 .tovar-cart-alt-item:first-of-type,  .tovar-cart-alt-item:nth-last-of-type(2)  {
  width:  100%;
 }
 .item-bottom-2 .review  {
  padding-left:  5% !important;
 }
}@media screen and (max-width: 769px) {
 .main-catalog > .row > div  {
  padding:  0 1.5%;
 }
}
@media screen and (max-width: 991px)  {
 .prewiew-block:nth-of-type(2)  {
 margin-left:  0;
}
}